
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-title" content="精准资料"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="applicable-device" content="mobile, pc"/>
    <title>聚宝斋</title>
    <link rel="stylesheet" href="../../css/fxyctx/index.css" type="text/css">
    <link rel="stylesheet" href="../../css/fxyctx/css.css" type="text/css">
    <link rel="stylesheet" href="../../css/fxyctx/webchat.css" type="text/css">
    <link href="../../css/fxyctx/css_mobile.css" rel="stylesheet" type="text/css"/>
    <!--<script type="text/javascript" src="style/js/jquery_002.js"></script>-->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../../js/fxyctx/clipboard.min.js"></script>
    <script src="../../js/fxyctx/vue.min.js"></script>
    <script src="../../js/fxyctx/public.js"></script>
    <script src="../../js/fxyctx/md5.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?fa65a4ae2823470c4e047c6fbf9724a3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!--添加-->
    <script type="text/javascript">
        function tiaozhuanFn(){
            arr_wx=['3116638524'];
            var wx_index = Math.floor((Math.random()*arr_wx.length));
            var stxlwx = arr_wx[wx_index];
            window.location.href='./wxnumber.html?wx='+stxlwx;
        }
    </script>


</head>
<body style="background-color: #F0F0F0">
<!--隐藏文字-->
<div style="display: none">
    　　在3D试机号的3个号码里常包含着各自的特点，这个特点也就是根据长期以来3D试机号和开奖号码之间的关系总结出来的。3D试机号码的数字特点比较被彩民公认的是：见0多半没有0；1有1大半不见1；有2一定要用2；有3不如选46；有4常会出69；见5常伴1或9；现6多有47随；7出选8还有0；有8常出偶数字；有9捡出173。在这个特点里，前面的数字指的是试机号，后面的数字指的是开奖号，比如试机号里出现了4，那么开奖号里出现69的机会就非常大。当然，这种机会只是相对而言。
    　　试机号码还有一个用途，就是用来杀号。杀号的方法也很简单，就是把试机号的3个号码排序，用最大号码减最小号码，再用最大号码减次小号码，得出的两个差值可以杀掉。比如2009050期福彩3D试机号码458，用最大号码8减最小号码4，再用最大号码8减次小号码5，可以得出当期杀号4、3，开奖号码508，杀号正确。
    　　一般情况下，试机号的形态与开奖号的形态不会保持一致。比如试机号出现奇偶奇，那中奖号通常不会奇偶奇的情况，尤其是直选的时候，这样的概率更高。其他几种类型也是同理，比如质合、大小等等。需要值得注意的是，如果彩民购买的形态不是直选而是组选的话，那么形态重复的可能性还是很大的。比如试机号是两奇一偶，那么中奖号也很可能是两奇一偶，也就是试机号的组选形态可以为中奖号形态提供参考。另外，在试机号与开奖号形态转换中，有一个强弱的变化趋势，也就是试机号中占优的形态在开奖号中可能变弱。比如试机号开出的两大，那么中奖号很可能就有两小。这个规律也可作为试机号对开奖好的一种影响。
    　　据细心的彩民提供的经验，在大冷号欲出之前，从试机号中能看出征兆，即试机号都有提前两次频繁的表现。所以在关注福彩3D的冷号前，为避免盲目跟进，要多加关注同期试机号出现的动态，一旦发现试机号开始频繁出现冷号组合，就意味着大冷号进入警戒线了，有心的彩民朋友可以抓住时机，适时介入。
</div>
<div id="app" class="wraper">


    <!--/header-->
    <div class="headBox">
        <span></span>
        <p></p>
    </div>
    <div class="tongzhi">
        <img src="../../images/fxyctx/tong.png" alt="">
        <span>限时福利：周卡福利<span style="color: #CB0808">充值100</span>送100</span>

    </div>

    <!--福彩3D-->
    <div class="i_new3">
        <div class="fcHead">
            <section class="fcTitle" >

                <span>重庆时时彩</span>
            </section>
            <section class="fcHistory">历史命中率<span style="color: #CB0808">{{historyZj3}}</span></section>

        </div>
        <div class="fcMiddle">
            <!-- <div class="fcMiddleHead">
                 <p class="one">期数</p>
                 <p class="two">开奖号</p>
                 <p class="three">双胆预测</p>
                 <p class="four">结果</p>
            </div>-->
            <div class="fcMiddleNew" >
                <p class="one">{{parseInt(fcsdItemOne)-2019158}}期第一球四码</p>
                <p class="two" style="margin-left: -10px">-- -- -- --</p>
                <p class="three">--</p>
                <p class="fours"style="font-size: 10px" onclick="tiaozhuanFn()">{{wxText}}</p>

            </div>

        </div>
        <div class="fcFoot" v-for="(item,index) in fcsdItem">
            <p class="one">{{parseInt(item.lottery_no)-2019159}}期第一球四码</p>
            <p class="twos" style="margin-left: 5px">
                <span>{{parseInt(item.lottery_res[0])+0}}</span>
                <span>{{parseInt(item.lottery_res[1])+3}}</span>
                <span>{{parseInt(item.lottery_res[2])-0}}</span>
                <span>{{parseInt(item.lottery_res[1])+4}}</span>

            </p>
            <p class="three">
                <span>{{parseInt(item.lottery_res[2])-0}}</span>
            </p>
            <div class="four" id="four">
                <p class="Bingo" style="font-size: 14px">
                    <span v-if="index==1">准</span>
                    <span v-if="index!=1">准</span>
                </p>
            </div>

        </div>

    </div>
    <div class="i_new3">
        <div class="fcHead">
            <section class="fcTitle" >

                <span>幸运飞艇</span>
            </section>
            <section class="fcHistory">历史命中率<span style="color: #CB0808">86%</span></section>

        </div>
        <div class="fcMiddle">
            <!-- <div class="fcMiddleHead">
                 <p class="one">期数</p>
                 <p class="two">开奖号</p>
                 <p class="three">双胆预测</p>
                 <p class="four">结果</p>
            </div>-->
            <div class="fcMiddleNew" >
                <p class="one">{{parseInt(fcsdItemOne)-2019171}}期冠军四码</p>
                <p class="two" style="margin-left: -10px">-- -- -- --</p>
                <p class="three">--</p>
                <p class="fours"style="font-size: 10px" onclick="tiaozhuanFn()">{{wxText}}</p>

            </div>

        </div>
        <div class="fcFoot" v-for="(item,index) in fcsdItem">
            <p class="one">{{parseInt(item.lottery_no)-2019172}}期冠军四码</p>
            <p class="twos" style="margin-left: 5px">
                <span>{{parseInt(item.lottery_res[1])+1}}</span>
                <span>{{parseInt(item.lottery_res[2])+2}}</span>
                <span>{{parseInt(item.lottery_res[0])+2}}</span>
                <span>{{parseInt(item.lottery_res[1])+0}}</span>
            </p>
            <p class="three">
                <span>{{parseInt(item.lottery_res[2])+2}}</span>
            </p>
            <div class="four" id="four">
                <p class="Bingo" style="font-size: 14px">
                    <span v-if="index==1">准</span>
                    <span v-if="index!=1">准</span>
                </p>
            </div>

        </div>

    </div>
    <div class="i_new3">
        <div class="fcHead">
            <section class="fcTitle" >

                <span>PK10</span>
            </section>
            <section class="fcHistory">历史命中率<span style="color: #CB0808">89%</span></section>

        </div>
        <div class="fcMiddle">
            <!-- <div class="fcMiddleHead">
                 <p class="one">期数</p>
                 <p class="two">开奖号</p>
                 <p class="three">双胆预测</p>
                 <p class="four">结果</p>
            </div>-->
            <div class="fcMiddleNew" >
                <p class="one">{{parseInt(fcsdItemOne)-2019162}}期冠军四码</p>
                <p class="two" style="margin-left: -10px">-- -- -- --</p>
                <p class="three">--</p>
                <p class="fours"style="font-size: 10px" onclick="tiaozhuanFn()">{{wxText}}</p>

            </div>

        </div>
        <div class="fcFoot" v-for="(item,index) in fcsdItem">
            <p class="one">{{parseInt(item.lottery_no)-2019163}}期冠军四码</p>
            <p class="twos" style="margin-left: 5px">
                <span>{{parseInt(item.lottery_res[1])+1}}</span>
                <span>{{parseInt(item.lottery_res[2])+2}}</span>
                <span>{{parseInt(item.lottery_res[2])-2}}</span>
                <span>{{parseInt(item.lottery_res[1])+2}}</span>
            </p>
            <p class="three">
                <span>{{parseInt(item.lottery_res[2])-2}}</span>
            </p>
            <div class="four" id="four">
                <p class="Bingo" style="font-size: 14px">
                    <span v-if="index==1">准</span>
                    <span v-if="index!=1">准</span>
                </p>
            </div>

        </div>

    </div>
    <!--双色球-->
    <!--
    <div class="i_newD">
        <div class="fcHead">
            <section class="fcTitle" >
                <img src="" alt="">
                <span>幸运飞艇</span>
            </section>
            <section class="fcHistory">历史命中率<span style="color: #CB0808">{{historyZjS}}</span></section>
        </div>

        <div class="forecast">
            <div class="newestBox">
                <p class="newestText">第{{parseInt(dataListSSQ.dataOpen.lottery_no)+1}}期预测</p>
                <p class="fours" style="font-size: 11px" onclick="tiaozhuanFn()">{{wxText}}</p>
            </div>

            <section>
                <p><span style="color: #CB0808">本期前区</span>杀号：*****精选杀号可加专家免费获取</p>
                <p><span style="color: #3063CA">本期后区</span>杀号：*****如需预测6+1加专家免费获取</p>
            </section>
        </div>
        <div class="historyItem">

            <div>
                <div class="lottery">
                    <p class="lotteryText">{{dataListSSQ.dataOpen.lottery_no}}期开奖号:</p>
                    <section class="lotteryBox" v-for="items in dataListSSQ.dataOpenO">
                        <p>{{items}}</p>
                    </section>
                    <section class="lotteryBox" style="background-color: #3063CA" v-for="items in dataListSSQ.dataOpenB">
                        <p>{{items}}</p>
                    </section>

                </div>

                <table class="Table" >

                    <tr>
                        <td style="font-size: 13px"><span style="color: #CB0808">前区</span>杀号</td>
                        <td  v-for="itemsc in dataListSSQ.redNewData">
                            <div v-if="!itemsc.check" class="redBg">{{itemsc.value}}</div>
                            <div v-if="itemsc.check" class="blackBg">{{itemsc.value}}</div>
                        </td>

                    </tr>
                    <tr>
                        <td style="font-size: 13px"><span style="color: #3063CA">后区</span>杀号</td>
                        <td  v-for="items in dataListSSQ.blueNewData">
                            <div v-if="!items.check" class="redBg">{{items.value}}</div>
                            <div v-if="items.check" class="blackBg">{{items.value}}</div>
                        </td>
                        -->
                        <!--  <td v-if="!items.check" class="redBg" v-for="items in item.blueNewData">{{items.value}}</td>
                          <td v-if="items.check" class="blackBg" v-for="items in item.blueNewData">{{items.value}}</td>-->
                        <!--<td v-for="item in 5"></td>-->
    <!--
                        <td></td>
                        <td style="color: #CA2D2D">全</td>
                        <td style="color: #CA2D2D">部</td>
                        <td style="color: black">正</td>
                        <td style="color: black">确</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
    <div class="lineImg" onclick="tiaozhuanFn()">
        <img src="../../images/fxyctx/line.jpg" alt="">
    </div>

    <div class="i_newD">
        <div class="fcHead">
            <section class="fcTitle" >
                <img src="" alt="">
                <span>PK10</span>
            </section>
            <section class="fcHistory">历史命中率<span style="color: #CB0808">{{historyZjD}}</span></section>
        </div>

        <div class="forecast">
            <div class="newestBox">
                <p class="newestText">第{{parseInt(dataListDLT.dataOpen.lottery_no)+1}}期预测</p>
                <p class="fours" style="font-size: 11px" onclick="tiaozhuanFn()">{{wxText}}</p>
            </div>

            <section>
                <p><span style="color: #CB0808">本期前区</span>杀号：*****精选杀号可加专家免费获取</p>
                <p><span style="color: #3063CA">本期后区</span>杀号：*****如需预测5+2加专家免费获取</p>
            </section>

        </div>

        <div class="historyItem">

            <div >
                <div class="lottery">
                    <p class="lotteryText">{{dataListDLT.dataOpen.lottery_no}}期开奖号:</p>
                    <section class="lotteryBox" v-for="items in dataListDLT.dataOpenO">
                        <p>{{items}}</p>
                    </section>
                    <section class="lotteryBox" style="background-color: #3063CA" v-for="items in dataListDLT.dataOpenB">
                        <p>{{items}}</p>
                    </section>

                </div>

                <table class="Table" >

                    <tr>
                        <td style="font-size: 13px"><span style="color: #CB0808">前区</span>杀号</td>
                        <td  v-for="itemsc in dataListDLT.redNewData">
                            <div v-if="!itemsc.check" class="redBg">{{itemsc.value}}</div>
                            <div v-if="itemsc.check" class="blackBg">{{itemsc.value}}</div>
                        </td>

                    </tr>
                    <tr>
                        <td style="font-size: 13px"><span style="color: #3063CA">后区</span>杀号</td>
                        <td  v-for="items in dataListDLT.blueNewData">
                            <div v-if="!items.check" class="redBg">{{items.value}}</div>
                            <div v-if="items.check" class="blackBg">{{items.value}}</div>
                        </td>
     -->
                        <!--  <td v-if="!items.check" class="redBg" v-for="items in item.blueNewData">{{items.value}}</td>
                          <td v-if="items.check" class="blackBg" v-for="items in item.blueNewData">{{items.value}}</td>-->
                        <!--<td v-for="item in 5"></td>-->
    <!--
                        <td></td>
                        <td style="color: #CA2D2D"></td>
                        <td style="color: #CA2D2D"></td>
                        <td style="color: black"></td>
                        <td style="color: black"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    -->
    <!--评论-->
    <div class="i_newC" >
        <div class="Message">
            <p>热门评论</p><span>(1569)+</span>
        </div>
        <div class="comment" v-for="item in commentList">
            <div class="avatar">
                <img :src="item.img" alt="黄金满地" class="headiamge" style="opacity: 1;">
            </div>
            <div class="main">
                <div class="nick">{{item.name}}</div>
                <div class="time">{{item.passTime}}</div>
                <div class="content">
                    <p class="content-p">
                        {{item.text}}
                    </p>
                </div>
                <div class="actions">
                    <div tabindex="0" aria-label="603赞" class="like">{{item.num}}</div>
                </div>
            </div>
        </div>


    </div>

</div>
</div>
</div>
</div>
<div class="Size">
</div>
<div class="footer_wx" onclick="tiaozhuanFn()">
    <img src="../../images/fxyctx/btn.png" alt="" class="ballon" >
</div>
<script src="../../js/fxyctx/all.js"></script>
</div>
</body>
</html>